@{Layout = "~/views/shared/layout.cshtml";}
@section head{
    <title>EA管理</title>
}
@section body{
    <div id="app">
        <el-button>按钮</el-button>
        <el-dialog v-model="visible" title="Hello world">
      <p>欢迎使用 Element</p>
    </el-dialog>
    </div>
}
